* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
    padding: 20px 40px;
    max-width: 1400px;
    margin: auto;
}
.product {
    width: 23%;
    border: 2px solid teal;
    border-radius: 10px;
    padding: 25px;
}
@media(max-width:1200px){
    .product {
        width: 48%;
    }
}
@media(max-width:600px){
    .products {
        padding: 15px;
        row-gap: 15px;
    }
    .product {
        width: 100%;
        padding: 12px;
        border-width: 1px;
    }
}